# HSRM Environment Variables
# Copy this file to .env.local and fill in your values

NEXT_PUBLIC_SUPABASE_URL=https://rufagrsdrbnjjomhfzei.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1ZmFncnNkcmJuampvbWhmemVpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3MDUxMzEsImV4cCI6MjA5NzI4MTEzMX0.UZmrW25imLVdoO8TkApZ17zQKRZVyE4AcaOxfO8VIB0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1ZmFncnNkcmJuampvbWhmemVpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTcwNTEzMSwiZXhwIjoyMDk3MjgxMTMxfQ.33hzhv-0v4z7v40p2ZeigZNoxt81fUSbDKJObnzX8N8

# JWT Secret dùng cho thuật toán ký token custom
JWT_SECRET=a6d45e4ff8c3c72b225ab1a0d7f95ee2366b59c77e8a4a5bb8f8e12b7a42cf9a

# Cấu hình cổng thanh toán PayOS (VietQR)
PAYOS_CLIENT_ID=813e4658-66a6-4759-89da-5bbb652ab7b0
PAYOS_API_KEY=379286e2-43fe-4bac-948b-e7f77a5bd068
PAYOS_CHECKSUM_KEY=6eaa9de9394c396879f06152d0748c7484afd86e4dd58d949f72f5969891207e
FRONTEND_URL=http://localhost:3000
